<div class="requests-index">
  <div class="requests-list">
    <div class="requests-item">
      <h2 class="item-request-name"></h2>
      <p class="item-request-detail"></p>
      <p class="item-reward"></p>
      <p class="item-user"></p>
    </div>
  </div>
  
  <div class="app-map-list">
    <ul>
      <%= link_to "マイページ", # %>
      <%= link_to "メッセージルーム一覧", # %>
      <%= link_to "アカウント編集", # %>
    </ul>
  </div>

</div>
