<div class="requests-index">
  <div class="requests-form-group">
    <form class="requests-form">
      <input class="requests-form-input-request_name">
      <input class="requests-form-input-request_detail">
      <input class="requests-form-input-reward">
    </form>
  </div>

  <div class="requests-list">
    <div class="requests-item">
      <h2 class="item-request-name"></h2>
      <p class="item-request-detail"></p>
      <p class="item-reward"></p>
      <p class="item-user"></p>
    </div>
  </div>
</div>
