<div class="header">
  <div class="app-title">
    <p>
      かしかる
    </p>
  </div>

  <div class="search-form-group">
    <form class="search-form">
      <input class="search-form-input">
    </form>
  </div>

  <div class="humbergur-menu">
  </div>

</div>