<div class="header">
  <div class="app-title">
    <p>
      かしかる
    </p>
  </div>

  <div class="humbergur-menu">
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_login_path, method: :post %>
    <% end %>
  </div>

</div>