<p><%= @resource.email %>様</p>

<p>パスワード変更がリクエストされました。以下のリンクよりパスワードを変更してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワード変更のリクエストを行っていないのならば、このメールは無視してください。</p>
<p>パスワードは上のリンクより、変更が行われるまで変更されません。</p>
